<% layout('layouts/Boilerplate') %>

<div class="row">
  <h1 class="text-center">New Field</h1>
  <div class="col-md-6 mx-auto">
    <form
      action="/fields"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="field[title]"
          id="title"
          autofocus
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="field[location]"
          id="location"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>

        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            name="field[price]"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="field[description]"
          id="description"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Images</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          required
          multiple
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-success">Add Field</button>
      </div>
    </form>

    <!-- <a href="/fields">All Fields</a> -->
  </div>
</div>
